@model Department
<div asp-validation-summary="All">
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Code">Department Code</label>
    <input asp-for="Code" class="form-control" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Name">Department Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DateOfCreation">DateOfCreation</label>
    <input asp-for="DateOfCreation" class="form-control" />
    <span asp-validation-for="DateOfCreation" class="text-danger"></span>
</div>